body {
  font-family: "Helvetica";
  margin: auto;
  background: #FFFFCC;
}

article {
  background: #FFFFCC;
  border-top: 5px solid #424242;
  padding: 2em;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
}

h2 {
  color: #929292;
  font-weight: normal;
}

h3 {
  color: #929292;
  font-weight: lighter;
}

a {
  color: #3300FF;
}

a:visited {
  color: #3399FF;
}
