body {
  background: #CC99CC;
  margin: 0;
  font-family: Helvetica;
}

.header{
  background-color: #993399;
  text-align: center;
  color: white;
  padding-top: 5px;
}

h2{
  font-weight: lighter;
}

h3{
  padding-left: 5px;
  color: #993399;
}

p {
  padding: 20px 40px;
}

.container {
  margin: 0 auto;
  width: 1000px;
  background: #fff;
  box-shadow: 10px 10px 5px #888888;
}

a{
  transition: all 2s ease-out;
}

a:visited{
  color: #ccc;
}

a:hover{
  color: #993399;
}

.elevator{
  font-weight: 200;
}

.projectmeta{
  margin: 0px;
  padding: 0;
}

.projectmeta li{
  display: inline-block;
  width: 33%;
  text-align: center;
}
