body {
  background: #CC99CC;
  margin: 0;
  font-family: Helvetica;
}

.header{
  background-color: #993399;
  text-align: center;
  color: white;
  padding-top: 5px;
}

h2{
  font-weight: lighter;
}

h3{
  padding-left: 5px;
}

.personas{
  float:left;
  padding-right: 100px;
}

.personas1{
  float:center;
  padding-right: 100px;
}

.personas2{
  float: right;
}



p {
  padding: 20px 40px;
}

.container {
  margin: 0 auto;
  width: 1000px;
  background: #fff;
  box-shadow: 10px 10px 5px #888888;
}

a:visited{
  font-color: #993399;
}

.elevator{
  font-weight: 200;
}
